<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
 <style>
    body { padding: top 30px;}
 </style>
 <!-- JS -->
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="Registration" ng-controller="mainController">
    <div class="container">
        <!-- PAGE HEADER-->
        <div class="page-header"><h1>Registration</h1></div>
  <!-- pass in the variable if our form is valid or invalid-->
  <form name="useForm" ng-submit="submitForm(userForm.$valid)"novalidate>

    <!--Username-->
    <div class="form-group" ng-class="{'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">
<label>Username*</label>
<input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">

    </div>

<!--Password-->
    <div class="form-group" ng-class="{'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">
        <label>Password*</label>
        <input type="password" name="password" class="form-control" ng-model="password">
       
    </div>
    <!--Repeat password-->
    <div class="form-group" ng-class="{'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">   
        <label>Repeat password*</label>
        <input type="Repeat Password" name="repeat password" class="form-control" ng-model="repeat password">
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Password must be equal</p>
    
    </div>
    <!--Email-->
    <div class="form-group" ng-class="{'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">
        <label>Email*</label>
        <input type="email" name="email" class="form-control" ng-model="user.email">
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    <button type="cancel" class="btn btn-primary">Cancel</button>
  </form>
    </div>
</body>
</html>